@charset "utf-8";

@import url(./fonts.css);
@import url(./web.css);
/* 
display: flex;
justify-content: center;  
align-items: center; 
*/

/* 
display: flex;
justify-content: space-between;
flex-wrap: wrap; 
*/


@media screen and (max-width:899px) {
/* 모바일 가로, 타블렛 세로 */
html,body{font-size: 1.35vw;}
/* header */
.header{left: 2rem;}
.header .btn_logo{top: 2.5rem; display: block; width: 8.7rem; height: 3.3rem; background-size: cover;}
.header .btn_side{right: 2rem; top: 2.5rem;}
.header .btn_side span{font-size:1.1rem;}
.header .btn_suggest{ width: 11.1rem; height: 3.2rem; background-image: url(../images/mobile/ico_suggest.png); background-size: cover;}
.sec01 .ico_scroll{bottom: 4rem; width: 2.7rem; height: 2.7rem; }

/* common */
.sections{min-height: auto;}
.text,.desc{word-wrap: normal; word-break: keep-all;}

br.web{display: none;}
br.mobile{display: inline;}

.area_float{bottom: 2rem; right: 2rem;}
.area_float .btn_suggset{width: 3rem; height: 3rem; margin-bottom: 1.5rem;}
.area_float .btn_suggset a{width: 100%; height: 100%; }
.area_float .btn_suggset span{width: 5rem; height: 5rem; background-size: cover; margin-top: -1.85rem; margin-left: -1.075rem;}
.area_float .btn_top button{width: 3rem; height: 3rem; font-size: 1.9rem; border: .1rem solid #121212;}

/* sections */
.sec01 .text{left: 2rem; font-size: 3.2rem; line-height: 1.2em;}
.sec01 .bg_video{background-image: url(../resource/movie/mobile/01_M_moon_th.png);}
.sec02 .text{padding:4.3rem 2.2rem 0; background-size: 1.5rem 1.3rem;}
.sec02 .bg_video{background-image: url(../resource/movie/mobile/02_M_way_th.png);}
.sec03 .text{width: auto; margin: 0 2.2rem; font-size: 1.4rem; font-weight: 300;}
.sec03::before{top: 0; right: 0; margin-right: 0; width: 15.7rem; height: 9.15rem; background-size: cover;}
.sec03 .h3_tit::before{top: -2.3rem;width: 15rem; height: 3rem; background-size: cover;}
.sec03 .desc02 li strong{font-size: 2.3rem;}
.sec04{height: auto; padding-bottom: 13rem;}
.img_sec04_web{display: none;}
.img_sec04_mobile{display: block; width: 33.5rem;}
.sec04 .h2_tit{width: auto; top: 0; padding: 5.5rem 0 2rem; box-sizing: border-box;}
.sec05 .h2_tit{display: none; width: auto; margin-left: 2rem;}
.sec04 .h2_tit h2{font-size: 1.4rem;}
.sec05 .h2_tit.mobile{display: block; top: -3.5rem; left: 0; right: 0; width: 32.4rem;}
.sec05_list .noshow{display: none;}
.sec05 .sec05_list{width: auto; margin: 0 2rem;}
.sec05_list ul{border: none; border-left: 1px solid #92949a; border-top: 1px solid #92949a;}
.sec05_list li{width: calc(100% /2 ); height: auto; padding-top: 2.8rem; padding-left: 1.5rem; padding-bottom: 2rem; font-size: 1.4rem; border:none; border-right: 1px solid #92949a; border-bottom: 1px solid #92949a; }
.sec05_list li strong{font-size: 1.7rem;margin-bottom: 1rem;}
.sec05 .img_bottomEffect{width: 32.4rem;}
.sec05 .img_overEffect{left: -0.2rem; top: -0.2rem; width: 32.4rem;}
.sec05_list .tit{position: relative; padding: 1rem 0 3rem; font-size: 1.4rem;}
.ico_sec05{padding-top: 10rem;}
.ico_sec05.type01{background-size: auto 4.4rem;}
.ico_sec05.type02{background-size: auto 4.4rem;}
.ico_sec05.type03{background-size: auto 4.4rem;}
.ico_sec05.type04{background-size: auto 4.4rem;}
.ico_sec05.type05{background-size: auto 4.4rem;}

.sec06 .web{display: none;}
.sec06 .mobile{display: block; width: 33.5rem; margin: 0 auto;}
.sec06 .text{width: auto; flex-direction: column; padding-top: 5rem;}
.sec06 .text .h2_tit{position: relative; top: 0; left: 0; padding-left: 2rem; padding-bottom: 3rem;}
.sec06 .text .h2_tit h2{font-size: 1.4rem;}

.sec06_list{width: auto; margin: 5rem 2rem 0;}
.sec06_list ol ul{padding-top: .4rem;}
.sec06_list ol > li{width: calc(100% /2); padding: 12.5rem 0 2rem 1.8rem;}
.sec06_list ol > li strong{font-size: 1.6rem; padding-top: 1rem;}
.sec06_list ul li{font-size: 1.2rem; background-position-y: 0.7rem;padding-left: .6rem;margin-top: .5rem;padding-right: 1.8rem;}
.sec06_list ol > li{padding-top: 7.7rem; padding-left: 1rem;}
.sec06_list .tit{font-size: 1.4rem; padding-bottom: 3rem;}
.sec06_list li.ico_sec06.ico_sec06{background-position: 1.5rem 2rem;}
.ico_num{width: 2.05rem; height:1.4rem;}
.ico_sec06.type01{background-size: auto 3.5rem;}
.ico_sec06.type02{background-size: auto 3.85rem;}
.ico_sec06.type03{background-size: auto 4.05rem;}
.ico_sec06.type04{background-size: auto 4.05rem;}
.ico_sec06.type05{background-size: auto 4.05rem;}
.ico_sec06.type06{background-size: auto 4.05rem;}

.sec07{padding: 4.5rem 2rem;}
.sec07 .sec07_list{width: auto;}
.sec07_list .tit{font-size: 1.4rem;}
.sec07_list ol{padding-top: 3rem; gap: .5rem;}
.sec07_list ol > li{width: 100%; height: auto; padding-bottom: 3.5rem; display: flex; flex-direction: column; padding-top: 0 !important; height: 30rem; display: flex; padding-left: 1.8rem;}
.sec07_list ol strong{padding-bottom: 1rem;font-size: 1.9rem;}
.sec07_list ul > li{font-size: 1.2rem; background-position-y: 0.7rem;padding-right: 1.6rem; padding-left: 0.6rem;}
.sec07_list .subtit{font-size: 1.4rem; padding-bottom: .2rem; padding-top: 1rem;}
.sec07_list ol > li > div{margin-top: auto;}
.sec07::before{width: 25.05rem; margin-left: -25.05rem; height: 63.5rem;}
.sec08::before{width: 25.05rem; margin-left: -25.05rem; height: 26.55rem; background-position: -30.1rem -1.5rem;}
.sec08_list{width: auto; margin: 0 2rem; padding-bottom: 5rem;}
.sec08_list .tit{padding-top: 5rem;font-size: 1.4rem;}
.sec08_list ol{margin-top: 9rem; gap: 0.5rem;}
.sec08_list ol li{width: calc(100% /2 - .5rem); font-size: 1.2rem; line-height: 1.5em; padding: 1.5rem; padding-right: 0; padding-left: 1.2rem; background: #ebeff2; height: 13rem; background-size: auto 5.2rem;}
.sec08_list ol > li:nth-of-type(1){background-size: 5.3rem 5.3rem;}
.sec08_list ol > li:nth-of-type(2){background-size: 5.3rem 5.3rem;}
.sec08_list ol > li:nth-of-type(3){background-size: 5.3rem 5.3rem;}
.sec08_list ol > li:nth-of-type(4){background-size: 5.3rem 5.3rem;}
.sec08_list ol > li:nth-of-type(2){ margin-top: -5.4rem; height: 18.4rem;}
.sec08_list ol > li:nth-of-type(3){ height: 18.4rem;}
.sec09_list{width: auto; padding: 5rem 2rem;}
.sec09_list .tit h3{padding-bottom: 1rem;}
.sec09_list .tit .side_r{position: relative; top: 0; left: 0; line-height: 1.3em; font-size: 1.4rem;}
.sec09_list ol{padding-top: 3rem; gap: 0.5rem;}
.sec09_list ol > li{width: 100%; height: 30rem; font-size: 1.9rem;}
.sec09_list ol em{left: 2.25rem; padding-left: 0.5rem; padding-right: 1.75rem; height: 2rem; border-radius: 0 1rem 1rem 0; font-size: 0.9rem; line-height: 2rem;}
.sec09_list .desc{margin-left: 2.25rem; padding-bottom: 2.2rem; margin: auto 0 0 2.5rem;}
.sec09_list dt{font-size: 2.4rem; font-weight: 700;}
.sec09_list ul > li{padding-left: 0.6rem; padding-right: 1.8rem; font-size: 1.2rem; background-position-y: 0.75rem; letter-spacing: -0.5px; margin-top: 0.5rem;}
.sec09_list .txt_fin{height: auto; padding-top: 2rem; font-size: 1.4rem; line-height: 2.4rem;}
.sec09_list .txt_fin strong{font-size: 1.9rem;}
.sec10{padding-bottom: 0.5rem; }
.sec10 .area_text{width: auto; margin: 0 2rem; padding-bottom: 5rem;}
.sec10 .area_text > div{width: 100%; z-index: 1000;}
.sec10 .area_text > div:nth-of-type(2){position: absolute; left: inherit; right: 0; top: 0; z-index: 999; width: 25rem; height: 29rem; background-image: url(../images/mobile/img_sec10.jpg); background-size: cover;}
.sec10 .area_h{font-size: 6rem; line-height: 4.75rem; left: 2.5rem; top: 9rem; width: auto;}
.sec10 .area_h span{margin-left: -3.4rem;}
.sec10 .area_text .text{padding-top: 23.5rem; font-size: 1.4rem;}
.hr_show{ width: 100%; margin-left: 2rem; height: 0.6rem;}
.hr_show::after{display: none;}
.foot{width: auto; padding: 5rem 2rem 6.5rem;}
.foot > div{width: 100%;}
.foot > div:nth-of-type(1){letter-spacing: -1px; line-height: 1.25em; padding-bottom: 11rem; font-size: 3.2rem;}
.foot .btn_mail{font-size: 2.9rem; line-height: 1.3em; color: #002ffa; text-decoration: underline;}
.foot .addr{font-size: 1.2rem; padding-top: 5rem;line-height: 1.5rem;}
.foot .phone{font-size: 1.2rem; padding-top: 1rem; line-height: 1.1rem;}
.copyright{width: auto; margin: 0 2rem; font-size: 0.9rem; border-bottom: .1rem solid #000;}
.copyright > div{font-size: 1rem;}

}