@charset "utf-8";

html,body{width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{
  margin:0;padding:0;color:#fff;font-family:'brockmann','NanumSquareNeo',Dotum,sans-serif;font-size:13px;line-height:1.3em;-webkit-font-smoothing:antialiased;letter-spacing:0;word-wrap: normal;word-break: keep-all;
}
body {-webkit-text-size-adjust:none;}
ul,ol,li{list-style:none;}
em{font-style:normal}
input,select,button{vertical-align:middle}
img{vertical-align:top}
img,fieldset,iframe{border:0 none}
a{text-decoration:none;color:#fff;cursor:pointer;}
li,p,dt,dd,div,span,td,th{word-break:break-all;}
.ib{display:inline-block;}
input , select {word-break:normal}
button {-webkit-border-radius:0;background:none;cursor:pointer;background:#fff;border:none;}
button::-moz-focus-inner {padding:0;border:0;} /* 파이어폭스 버튼 내부 여백 제거 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}
textarea {border:1px solid #999;padding:9px 8px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0;-webkit-appearance:none;resize:none;}
input::-ms-clear{display:none}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
caption {overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.safari caption {display:none;}/* 사파리 rowspan버그 */
strong{font-weight:700;}

/* 접근성 */
.ir{position:absolute !important;left:-99999px;top:-99999px;overflow:hidden;text-indent:-9999px;font-size:1px;line-height:1px;color:#fff;}

/* 폼요소 */
/* placeholder 컬러지정 */
::-webkit-input-placeholder {}
::-moz-placeholder {} /* firefox 19+ */
:-ms-input-placeholder {} /* ie */
input:-moz-placeholder {}

fieldset{border:0 none}
legend{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0}
label.disabled{color:#999;}

.loading_hidden{visibility:hidden;position:absolute;left:-9999px;top:-9999px;height:0;overflow:hidden;width:0;}

/* common */
.tal{text-align:left !important;}

/* header */
.header{ position: absolute; top: 0; left: 100px; right: 0; z-index: 2000;}
.header h1{ position: absolute; top: 0; left: 0; }
.header .btn_logo{ position: relative; top: 50px; display: block; width: 174px; height: 66px; background: url(../images/web/img_logo.png) 0 0 no-repeat; text-indent: -9999px; overflow: hidden; }
.header .btn_side{ position: absolute; top: 50px; right: 100px; }
.header .btn_suggest{ display: block; width: 193px; height: 64px; background: url(../images/web/ico_suggest.png) 0 0 no-repeat; text-align-last: left;}
.header .btn_side span{ padding-left: 20px; font-size: 18px; line-height: 64px; font-weight: 300; color: #fff; }

/* float area */
.area_float{display: none; position: fixed; right: 100px; bottom: 80px; z-index: 9999;}
.area_float.on{display: block;}
.area_float .btn_top button{display: block; width: 80px; height: 80px; background: #fff url(../images/web/ico_floating_top.png) center center no-repeat; border-radius: 50%; text-indent: -9999px; border: 2px solid #121212;}
.area_float .btn_suggset{position: relative;width: 80px; height: 80px; margin-bottom: 66px;}
.area_float .btn_suggset a{ display: block; width: 80px; height: 80px; background: #00c7e6 url(../images/web/ico_inquire.png) center center no-repeat; border-radius: 50%;text-indent: -9999px; }
.area_float .btn_suggset span{display: block; width: 133px; height: 133px; position: absolute; top: -27px; left: -27px; transform: rotate(0deg); background: url(../images/web/txt_suggest.png) 0 0 no-repeat; background-size: cover; 
	-webkit-animation: 5s linear ani_rotate infinite;
	-moz-animation: 5s linear ani_rotate infinite;
	animation: 5s linear ani_rotate infinite;
}

@-webkit-keyframes ani_rotate {
    from {
      -webkit-animation-timing-function: rotate(0deg);
      animation-timing-function: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-animation-timing-function: rotate(360deg);
      animation-timing-function: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
@keyframes ani_rotate {
    from {
      -webkit-animation-timing-function: rotate(0deg);
      animation-timing-function: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-animation-timing-function: rotate(360deg);
      animation-timing-function: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

/* icon */
.ico_lt_on{ display: inline-block; width: 74px; height: 42px; vertical-align: middle; /* font-style: normal; */ background: url(../images/web/img_txt_02_02.png) left center no-repeat; text-indent: -9999px; }

/* sections */
.sections{ min-height: 960px; width: 100%; }

/* section 01 */
.sec01{ position: relative; height: 100vh; }
.sec01 .text{ position: absolute; left: 160px; top: 50%; transform: translateY(-60%); right: 0; font-family: 'brockmann'; }
.sec01 .text span{display: block; width: 100%; font-size: 60px; line-height: 70px; }
.sec01 .text span > div {opacity: 0; display: inline;  font-size: 60px; line-height: 70px; }
.sec01 .ico_scroll{ position: absolute; left: 50%; bottom: 80px; transform: translateX(-50%); width: 54px; height: 54px; background: url(../images/web/ico_scroll.png) 0 0 no-repeat; text-indent: -9999px; background-size: cover;}
.bg_video { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: -1; }
.sec01 .bg_video{ background: url(../resource/movie/web/01_W_moon_th.png) center center no-repeat; background-size: cover; }
.bg_video::after{ display: block; position: absolute; left: 0;right: 0;top: 0;bottom: 0; z-index: 1; background: #121212; opacity: .75; content: ''; }
.bg_video_content { height: 100%; width: 100%; object-fit: cover; }
/* .js-random-fade span{opacity: 0;} */
.js-random-fade span > div{ transition: opacity 1s; transform-style: preserve-3d;}

/* section 02 */
.sec02{ position: relative; height: 100vh; background-size: cover; box-sizing: border-box; display: flex; align-items: center; overflow: hidden;}
.sec02 .text{ display: block; width: 100%; text-align: center; background: url(../images/web/img_txt_02_01.png) center top no-repeat; background-size: 30px 26px; padding-top: 86px; font-size: 38px; line-height: 70px; font-weight: 100; letter-spacing: -.6px; }
.js-random-fade-sen > span, 
.js-random-fade-sen > strong{opacity: 0; transition: opacity 1s; transform-style: preserve-3d;}
.sec02 .bg_video{ background: url(../resource/movie/web/02_W_way_th.png) center center no-repeat; background-size: cover; }
.sec02 .bg_video_content{filter: blur(5px); -webkit-filter: blur(5px);}
.sec02 .text div{ display: inline; }
.sec02 .text strong{ font-weight: 400; }

/* section 03 */
.sec03{ position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; background: url(../images/web/bg03.jpg) 0 0 no-repeat; background-size: cover; }
.sec03::before{ position: absolute; right: 50%; margin-right: -700px; top: 0; width: 1400px; height: 348px; background: url(../images/web/ico_sec03_text02.png) right 0 no-repeat; text-indent: -9999px; content: 'We are'; }
.sec03 .text{ box-sizing: border-box; width: 1400px; }
.sec03 .h3_tit{ position: relative; }
.sec03 .h3_tit::before{ position: absolute; left: 0; top: -60px; width: 393px; height: 87px; background: url(../images/web/ico_sec03_text01.png) 0 0 no-repeat; background-size: cover; text-indent: -9999px; content: 'DexOn'; }
.sec03 .h3_tit h3{ position: relative; display: block; font-size: 44px; font-weight: 500; margin-bottom: 8px; }
.sec03 .h3_tit span{ font-size: 24px; }
.sec03 .desc{ margin-top: 60px; font-size: 24px; line-height: 40px; }
.sec03 .desc02{ margin-top: 60px; display: flex; justify-content: space-between; flex-wrap: wrap; }
.sec03 .desc02 li{ width: 50%; font-size: 20px; margin-top: 54px; font-weight: 300; }
.sec03 .desc02 li strong{ display: block; margin-top: 10px; font-size: 24px; font-weight: 400; }

/* section 04 */
.sec04{ height: 960px; display: flex; justify-content: center; align-items: center; }
.sec04 .h2_tit{ position: relative; width: 1400px; margin: 0 auto; top: -55px; }
.sec04 .h2_tit h2{ display: block; font-size: 28px; font-weight: 600; color: #000; }
.img_sec04_mobile{display: none;}

/* section 05 */
.sec05{ background: url(../images/web/bg_sec05.jpg) 0 0 repeat; padding-bottom: 160px; }
.sec05 .h2_tit{ position: relative; width: 1400px; margin: 0 auto; top: -55px; }
.sec05 .h2_tit h2{ display: block; font-size: 28px; font-weight: 500; color: #000; }
.sec05 .h2_tit.mobile{display: none;}
.sec05 .img_overEffect{ position: absolute; left: -4px; top: -4px; transition: transform .1s; transform-style: preserve-3d; z-index: 1100;}
.sec05 .img_bottomEffect{ position: relative; z-index: 1000;}
.sec05 .sec05_list{ position: relative; width: 1400px; margin: 0 auto; }
.sec05_list ul{ display: flex; flex-wrap: wrap; border-right: 1px solid #92949a; border-bottom: 1px solid #92949a; }
.sec05_list .tit{ position: absolute; top: 0; left: 0; font-size: 28px; font-weight: 600; color: #000; }
.sec05_list li{ width: 466px; font-size: 24px; color: #000; height: 400px; border: 1px solid #92949a; border-bottom: none; border-right: none; box-sizing: border-box; background: #fff; padding-left: 40px; padding-top: 60px; }
.sec05_list li.noshow{ width: 466px; height: 400px; border: none; background: transparent; }
.sec05_list li strong{ display: block; font-size: 38px; font-family: 'brockmann'; font-weight: 700; color: #000; margin-bottom: 30px; }
.ico_sec05{ padding-top: 186px; }
.ico_sec05.type01{background: url(../images/web/ico_sec05_01.png) 0 0 no-repeat;}
.ico_sec05.type02{background: url(../images/web/ico_sec05_02.png) 0 0 no-repeat;}
.ico_sec05.type03{background: url(../images/web/ico_sec05_03.png) 0 0 no-repeat;}
.ico_sec05.type04{background: url(../images/web/ico_sec05_04.png) 0 0 no-repeat;}
.ico_sec05.type05{background: url(../images/web/ico_sec05_05.png) 0 0 no-repeat;}

/* section 06 */
.sec06{ background: url(../images/web/bg_sec06.jpg) 0 0 repeat; padding-bottom: 160px; }
.sec06 .mobile{display: none;}
.sec06 .text{ position: relative; box-sizing: border-box; width: 1400px; padding-top: 160px; margin: 0 auto; display: flex; justify-content: center; }
.sec06 .text .h2_tit{ position: absolute; left: 0;top: 160px; }
.sec06 .text .h2_tit h2{ font-size: 28px; font-weight: 500; }
.sec06_list{ margin: 200px auto 0; width: 1400px; }
.sec06_list .tit{ font-size: 28px; font-weight: 500; padding-bottom: 60px; }
.sec06_list ol{ display: flex; justify-content: space-between; flex-wrap: wrap; border-top: 1px solid #4d4d4d; border-left: 1px solid #4d4d4d; }
.sec06_list ol > li{ width: calc(100%/3); border-right: 1px solid #4d4d4d; border-bottom: 1px solid #4d4d4d; box-sizing: border-box; padding:250px 0 40px 36px; }

.sec06_list li.ico_sec06{background-position: 36px 50px; background-repeat: no-repeat;}
.sec06_list li.ico_sec06.type01{background-image: url(../images/web/ico_sec06_01.png);}
.sec06_list li.ico_sec06.type02{background-image: url(../images/web/ico_sec06_02.png);}
.sec06_list li.ico_sec06.type03{background-image: url(../images/web/ico_sec06_03.png);}
.sec06_list li.ico_sec06.type04{background-image: url(../images/web/ico_sec06_04.png);}
.sec06_list li.ico_sec06.type05{background-image: url(../images/web/ico_sec06_05.png);}
.sec06_list li.ico_sec06.type06{background-image: url(../images/web/ico_sec06_06.png);}

.ico_num{display: block;width: 42px; height: 28px;overflow: hidden;text-indent: -9999px;}
.ico_num.type01{background: url(../images/web/ico_em_01.png) 0 0 no-repeat; background-size: cover;}
.ico_num.type02{background: url(../images/web/ico_em_02.png) 0 0 no-repeat; background-size: cover;}
.ico_num.type03{background: url(../images/web/ico_em_03.png) 0 0 no-repeat; background-size: cover;}
.ico_num.type04{background: url(../images/web/ico_em_04.png) 0 0 no-repeat; background-size: cover;}
.ico_num.type05{background: url(../images/web/ico_em_05.png) 0 0 no-repeat; background-size: cover;}
.ico_num.type06{background: url(../images/web/ico_em_06.png) 0 0 no-repeat; background-size: cover;}

.sec06_list ol > li strong{ display: block; font-size: 38px; padding-top: 20px; line-height: 1.3em; color: #ccc; font-weight: 400; }
.sec06_list ol ul{ padding-top: 8px; }
.sec06_list ul li{ padding-left: 12px; margin-top: 10px; font-size: 18px; line-height: 1.3em; padding-right: 36px; color: #ccc; background: url(../images/web/ico_bul.png) 0 8px no-repeat; word-wrap: normal; word-break: keep-all; font-weight: 300;}

/* section 07 */
.sec07{ position: relative; background: #031532; overflow: hidden; display: flex; align-items: center; box-sizing: border-box; padding-top: 160px; padding-bottom: 160px; }
.sec07::before{ position: absolute; right: 0; bottom: 0; width: 1401px; height: 1270px; margin-left:-440px; background: url(../images/web/bg_sec07.gif) right bottom repeat; z-index: 0; content: ''; }
.sec07 .sec07_list{ position: relative; width: 1400px; margin: 0 auto; z-index: 1; }
.sec07_list .tit{ display: block; font-size: 28px; font-weight: 500; color: #fff; }
.sec07_list ol{ display: flex; justify-content: space-between; flex-wrap: wrap; padding-top: 60px; gap: 10px; }
.sec07_list ol > li{ position: relative; width: calc(100% /2 - 10px); height: 700px; box-sizing: border-box; padding-left: 36px; }
.sec07_list ol > li:nth-of-type(1){padding-top: 372px;background: url(../images/web/img_sec07_01.jpg) 0 0 no-repeat; background-size: cover;}
.sec07_list ol > li:nth-of-type(2){padding-top: 372px;background: url(../images/web/img_sec07_02.jpg) 0 0 no-repeat; background-size: cover;}
.sec07_list ol > li:nth-of-type(3){padding-top: 266px;background: url(../images/web/img_sec07_03.jpg) 0 0 no-repeat; background-size: cover;}
.sec07_list ol > li:nth-of-type(4){padding-top: 266px;background: url(../images/web/img_sec07_04.jpg) 0 0 no-repeat; background-size: cover;}
.sec07_list ol strong{ display: block; font-size: 38px; line-height: 1.2em; font-weight: 500; color: #fff; padding-bottom: 20px; } 
.sec07_list ul > li{ padding-left: 12px; margin-top: 10px; font-size: 18px; line-height: 1.3em; padding-right: 36px; font-weight: 300; color: #fff; background: url(../images/web/ico_bul.png) 0 8px no-repeat; word-wrap: normal; word-break: keep-all; } 
.sec07_list .subtit{ font-size: 28px; font-weight: 500; padding-bottom: 4px; padding-top: 20px; } 

/* section 08 */
.sec08{ position: relative; background: #edeffa; overflow: hidden; display: flex; align-items: center; } 
.sec08::before{ position: absolute; top: 0; right: 0; width: 1401px; height: 531px; margin-left: -440px; background: url(../images/web/bg_sec08.gif) right top no-repeat; content: ''; } 
.sec08_list{ position: relative; width: 1400px; margin: 0 auto; } 
.sec08_list .tit{ display: block; font-size: 28px; font-weight: 600; color: #000; }
.sec08_list ol{ display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px; margin-top: 180px; }
.sec08_list ol li{ position: relative; width: calc(100% /4 - 10px); height: 260px; padding: 30px; border: 1px solid #92949a; box-sizing: border-box; background: #edeffa; color: #000; font-size: 20px; line-height: 1.3em; font-family: 'NanumSquareNeo'; }
.sec08_list ol li::after{ position: absolute; bottom: 0; left: -1px; right: -1px; height: 10px; background-color: #002ffa; content: '';}
.sec08_list ol > li:nth-of-type(1){ background-image: url(../images/web/txt_step01.gif); background-position: right bottom; background-repeat: no-repeat; background-size: 106px 106px;}
.sec08_list ol > li:nth-of-type(2){ background-image: url(../images/web/txt_step02.gif); background-position: right bottom; background-repeat: no-repeat; background-size: 106px 106px;}
.sec08_list ol > li:nth-of-type(3){ background-image: url(../images/web/txt_step03.gif); background-position: right bottom; background-repeat: no-repeat; background-size: 106px 106px;}
.sec08_list ol > li:nth-of-type(4){ background-image: url(../images/web/txt_step04.gif); background-position: right bottom; background-repeat: no-repeat; background-size: 106px 106px;}
.sec08_list ol > li:nth-of-type(2){ margin-top: -108px; height: 368px;}
.sec08_list ol > li:nth-of-type(3){ height: 368px;}

/* section 09 */
.sec09{ position: relative; display: flex; align-items: center; background: url(../images/web/bg_sec09.gif) 0 0 repeat;}
.sec09_list{ width: 1400px; margin: 0 auto; padding: 160px 0;}
.sec09_list .tit{position: relative;}
.sec09_list .tit h3{display: block; font-size: 28px; font-weight: 600;}
.sec09_list .tit .side_r{position: absolute; right: 0; top: 0; font-size: 28px; font-weight: 300; line-height: 1.2em;}
.sec09_list ol{padding-top: 100px; display: flex; flex-wrap: wrap; justify-content: space-between; gap: 10px;}
.sec09_list ol > li{display: flex; position: relative; width: calc(100% /2 - 10px); height: 700px; font-size: 38px; line-height: 1.25em; font-weight: 400;}
.sec09_list ol > li:nth-of-type(1){background: url(../images/web/img_sec09_01.jpg) 0 0 no-repeat; background-size: cover;}
.sec09_list ol > li:nth-of-type(2){background: url(../images/web/img_sec09_02.jpg) 0 0 no-repeat; background-size: cover;}
.sec09_list ol > li:nth-of-type(3){background: url(../images/web/img_sec09_03.jpg) 0 0 no-repeat; background-size: cover;}
.sec09_list ol > li:nth-of-type(4){background: url(../images/web/img_sec09_04.jpg) 0 0 no-repeat; background-size: cover;}

.sec09_list ul strong{ display: block; font-size: 38px; line-height: 1.2em; font-weight: 500; color: #fff; padding-bottom: 20px; } 
.sec09_list ul > li{ padding-left: 12px; margin-top: 10px; font-size: 18px; line-height: 1.3em; padding-right: 36px; font-weight: 300; color: #fff; background: url(../images/web/ico_bul.png) 0 8px no-repeat; word-wrap: normal; word-break: keep-all; } 
.sec09_list .subtit{ font-size: 28px; font-weight: 500; padding-bottom: 12px; padding-top: 12px; } 
.sec09_list dt{font-size: 38px; line-height: 1.3em;}
.sec09_list li:nth-of-type(1) dt strong
,.sec09_list li:nth-of-type(4) dt strong{color: #ff00ff;}
.sec09_list li:nth-of-type(2) dt strong,
.sec09_list li:nth-of-type(3) dt strong{color: #22fff8;}
.sec09_list ol em{position: absolute; left: 50px; top: 60px; padding-right: 35px; padding-left: 10px; display: inline-block; height: 40px; background: #fff; border-radius: 0 20px 20px 0; color: #000; font-size: 18px; line-height: 40px; font-family: 'NanumSquareNeo'; font-weight: 600;}
.sec09_list .desc{margin: auto 0 0 50px; padding-bottom: 80px;}
.sec09_list .txt_fin{display: table-cell; font-size: 28px; line-height: 48px; font-weight: 300; color: #fff; height: 130px; vertical-align: bottom;}
.sec09_list .txt_fin strong{font-size: 38px; font-weight: 500;}

/* section 10 */
.sec10{position: relative; padding-bottom: 30px; overflow: hidden; background: #edeffa;}
.sec10 .area_h{position: absolute; left: 122px; top: 130px; width: 1000px;}
.sec10 .area_h span:nth-of-type(2){display: block; margin-left: -68px;}
.sec10 .area_h span > div{position: relative; display: inline; font-size: 160px; line-height: 130px; color: #121212; z-index: 1100;}
.sec10 .area_text{width: 1400px; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; padding-bottom: 160px;}
.sec10 .area_text > div{position: relative; width: 50%;}
.sec10 .area_text .img_sec10{position: absolute; left: 50%; right: 0; top: 0; height: 800px; background: url(../images/web/img_sec10_01.jpg) 0 0 no-repeat;}
.sec10 .area_text .text{padding-top: 550px; font-size: 28px; line-height: 1.3em; color: #000; font-weight: 300;}

.hr_show{position: relative; margin: 0; width: 100%; height: 12px; background: #121212; }
.hr_show::before{position: absolute; top: 0; bottom: 0; left: 0; width: 100px; background: #edeffa; content: '';}
@media screen and (max-width:1500px) {
  .hr_show::before{width: 0;}
}
.hr_show::after{position: absolute; right: -100%; top: 0; bottom: 0; left: 100%; background: #121212; content: '';}

.foot{display: flex; justify-content: space-between; flex-wrap: wrap; padding: 160px 0 200px; width: 1400px; margin: 0 auto;}
.foot > div:nth-of-type(1){font-size: 64px; line-height: 1.25em; color: #121212;}
.foot > div:nth-of-type(2){text-align: right;}
.foot .btn_mail{text-align: right; font-size: 58px; line-height: 1.3em; color: #121212; }
.foot .btn_mail:hover{color: #002ffa; text-decoration: underline;}
.foot .addr{padding-top: 100px; color: #121212; font-weight: 400; font-size: 18px; line-height: 30px;}
.foot .addr strong{font-weight: 600;}
.foot .phone{padding-top: 20px; font-size: 18px; line-height: 22px; color: #121212; font-weight: 100; font-family: 'brockmann';}

.copyright{width:auto; margin: 0 100px; min-width: 1400px; padding-bottom: 18px; border-bottom: 2px solid #000; display: flex; justify-content: space-between;}
@media screen and (max-width:1500px) {
  .copyright{margin: 0;}
}
.copyright > div{font-family: 'brockmann'; font-size: 18px; line-height: 1.3em; color: #121212;}

br.mobile{display: none;}
br.web{display: inline;}
